@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Inicio</h1>
    <h1>@ViewBag.Message</h1>
    <br>
    <h1>@ViewBag.Message2</h1>
    <br>
    <h1>@ViewData["MiNombre"]</h1>
    <br>
    <h1>@ViewData["FechaNac"]</h1>
    <br >
    <h1>@ViewBag.Message3</h1>
    <br >
    <h1>@ViewBag.UnInt</h1>
    <br>

    <img src="https://scontent.fsdq1-2.fna.fbcdn.net/v/t39.30808-6/295321147_3380930025524292_9108435958543543458_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFloU6HoUB0x3UVWbTuVWISctcD4uDrgAFy1wPi4OuAAZUWDtzNESKyeN70TJ5szxUQcrwvz_B9zCRB6iQQWBUN&_nc_ohc=R4C_0_3fqRIAX-4o3cp&tn=gAnxd0KiNuMLr9Z3&_nc_zt=23&_nc_ht=scontent.fsdq1-2.fna&oh=00_AfDJldlE_DXBmouCOMPlclFG1t1hOVts_aW2msDFfqIfAA&oe=6362D789" />
</div>
